In [1]:
import pandas as pd

In [3]:
#Create a dataframe from original Austin Shelter Data set
shelter_df = pd.read_csv('./archive/aac_shelter_outcomes.csv')
shelter_df

,age_upon_outcome,animal_id,animal_type,breed,color,date_of_birth,datetime,monthyear,name,outcome_subtype,outcome_type,sex_upon_outcome
0,2 weeks,A684346,Cat,Domestic Shorthair Mix,Orange Tabby,2014-07-07T00:00:00,2014-07-22T16:04:00,2014-07-22T16:04:00,NaN,Partner,Transfer,Intact Male
1,1 year,A666430,Dog,Beagle Mix,White/Brown,2012-11-06T00:00:00,2013-11-07T11:47:00,2013-11-07T11:47:00,Lucy,Partner,Transfer,Spayed Female
2,1 year,A675708,Dog,Pit Bull,Blue/White,2013-03-31T00:00:00,2014-06-03T14:20:00,2014-06-03T14:20:00,*Johnny,NaN,Adoption,Neutered Male
3,9 years,A680386,Dog,Miniature Schnauzer Mix,White,2005-06-02T00:00:00,2014-06-15T15:50:00,2014-06-15T15:50:00,Monday,Partner,Transfer,Neutered Male
4,5 months,A683115,Other,Bat Mix,Brown,2014-01-07T00:00:00,2014-07-07T14:04:00,2014-07-07T14:04:00,NaN,Rabies Risk,Euthanasia,Unknown
...,...,...,...,...,...,...,...,...,...,...,...,...
78251,1 month,A764894,Dog,Golden Retriever/Labrador Retriever,Brown/White,2017-12-04T00:00:00,2018-02-01T18:26:00,2018-02-01T18:26:00,NaN,Foster,Adoption,Spayed Female
78252,3 years,A764468,Dog,Mastiff Mix,Blue/White,2014-12-30T00:00:00,2018-02-01T18:06:00,2018-02-01T18:06:00,Max,NaN,Adoption,Neutered Male
78253,NaN,A766098,Other,Bat Mix,Brown,2017-02-01T00:00:00,2018-02-01T18:08:00,2018-02-01T18:08:00,NaN,Rabies Risk,Euthanasia,Unknown
78254,2 months,A765858,Dog,Standard Schnauzer,Red,2017-11-13T00:00:00,2018-02-01T18:32:00,2018-02-01T18:32:00,NaN,NaN,Adoption,Spayed Female
78255,2 months,A765857,Dog,Labrador Retriever Mix,White/Brown,2017-11-13T00:00:00,2018-02-01T18:44:00,2018-02-01T18:44:00,NaN,NaN,Adoption,Neutered Male

In [5]:
#Count the rows
shelter_df.count

<bound method DataFrame.count of       age_upon_outcome animal_id animal_type  \
0              2 weeks   A684346         Cat
1               1 year   A666430         Dog
2               1 year   A675708         Dog
3              9 years   A680386         Dog
4             5 months   A683115       Other
...                ...       ...         ...
78251          1 month   A764894         Dog
78252          3 years   A764468         Dog
78253              NaN   A766098       Other
78254         2 months   A765858         Dog
78255         2 months   A765857         Dog

                                     breed         color        date_of_birth  \
0                   Domestic Shorthair Mix  Orange Tabby  2014-07-07T00:00:00
1                               Beagle Mix   White/Brown  2012-11-06T00:00:00
2                                 Pit Bull    Blue/White  2013-03-31T00:00:00
3                  Miniature Schnauzer Mix         White  2005-06-02T00:00:00
4                                  Bat Mix         Brown  2014-01-07T00:00:00
...                                    ...           ...                  ...
78251  Golden Retriever/Labrador Retriever   Brown/White  2017-12-04T00:00:00
78252                          Mastiff Mix    Blue/White  2014-12-30T00:00:00
78253                              Bat Mix         Brown  2017-02-01T00:00:00
78254                   Standard Schnauzer           Red  2017-11-13T00:00:00
78255               Labrador Retriever Mix   White/Brown  2017-11-13T00:00:00

                  datetime            monthyear     name outcome_subtype  \
0      2014-07-22T16:04:00  2014-07-22T16:04:00      NaN         Partner
1      2013-11-07T11:47:00  2013-11-07T11:47:00     Lucy         Partner
2      2014-06-03T14:20:00  2014-06-03T14:20:00  *Johnny             NaN
3      2014-06-15T15:50:00  2014-06-15T15:50:00   Monday         Partner
4      2014-07-07T14:04:00  2014-07-07T14:04:00      NaN     Rabies Risk
...                    ...                  ...      ...             ...
78251  2018-02-01T18:26:00  2018-02-01T18:26:00      NaN          Foster
78252  2018-02-01T18:06:00  2018-02-01T18:06:00      Max             NaN
78253  2018-02-01T18:08:00  2018-02-01T18:08:00      NaN     Rabies Risk
78254  2018-02-01T18:32:00  2018-02-01T18:32:00      NaN             NaN
78255  2018-02-01T18:44:00  2018-02-01T18:44:00      NaN             NaN

      outcome_type sex_upon_outcome
0         Transfer      Intact Male
1         Transfer    Spayed Female
2         Adoption    Neutered Male
3         Transfer    Neutered Male
4       Euthanasia          Unknown
...            ...              ...
78251     Adoption    Spayed Female
78252     Adoption    Neutered Male
78253   Euthanasia          Unknown
78254     Adoption    Spayed Female
78255     Adoption    Neutered Male

[78256 rows x 12 columns]>

In [6]:
#Get the value counts of each breed
shelter_df['breed'].value_counts

<bound method IndexOpsMixin.value_counts of 0                     Domestic Shorthair Mix
1                                 Beagle Mix
2                                   Pit Bull
3                    Miniature Schnauzer Mix
4                                    Bat Mix
                        ...
78251    Golden Retriever/Labrador Retriever
78252                            Mastiff Mix
78253                                Bat Mix
78254                     Standard Schnauzer
78255                 Labrador Retriever Mix
Name: breed, Length: 78256, dtype: object>

In [7]:
#Filter out dogs in the animale type columns and create a new data frame
dog_df = shelter_df.loc[shelter_df['animal_type'] == 'Dog']
dog_df.head()

,age_upon_outcome,animal_id,animal_type,breed,color,date_of_birth,datetime,monthyear,name,outcome_subtype,outcome_type,sex_upon_outcome
1,1 year,A666430,Dog,Beagle Mix,White/Brown,2012-11-06T00:00:00,2013-11-07T11:47:00,2013-11-07T11:47:00,Lucy,Partner,Transfer,Spayed Female
2,1 year,A675708,Dog,Pit Bull,Blue/White,2013-03-31T00:00:00,2014-06-03T14:20:00,2014-06-03T14:20:00,*Johnny,NaN,Adoption,Neutered Male
3,9 years,A680386,Dog,Miniature Schnauzer Mix,White,2005-06-02T00:00:00,2014-06-15T15:50:00,2014-06-15T15:50:00,Monday,Partner,Transfer,Neutered Male
5,4 months,A664462,Dog,Leonberger Mix,Brown/White,2013-06-03T00:00:00,2013-10-07T13:06:00,2013-10-07T13:06:00,*Edgar,Partner,Transfer,Intact Male
7,3 years,A692618,Dog,Chihuahua Shorthair Mix,Brown,2011-11-23T00:00:00,2014-12-08T15:55:00,2014-12-08T15:55:00,*Ella,Partner,Transfer,Spayed Female

In [9]:
#Get the count of each dog breed
dog_df['breed'].value_counts

<bound method IndexOpsMixin.value_counts of 1                                 Beagle Mix
2                                   Pit Bull
3                    Miniature Schnauzer Mix
5                             Leonberger Mix
7                    Chihuahua Shorthair Mix
                        ...
78250    Golden Retriever/Labrador Retriever
78251    Golden Retriever/Labrador Retriever
78252                            Mastiff Mix
78254                     Standard Schnauzer
78255                 Labrador Retriever Mix
Name: breed, Length: 44242, dtype: object>

We took the top 15 dog breeds and gathered information on the size and life expectancy of each breed and created a table called Breeds_Info

In [18]:
#Created a dataframe from the Breeds_Info table 
top_breeds_df = pd.read_csv('Breed_Info2.csv')
top_breeds_df

                         Breed    Size  Average_life_expectancy
0                Pit Bull Mix    large                        11
1      Chihuahua Shorthair mix   small                        15
2       Labrador Retriever Mix  large                         13
3           German Sheperd Mix   large                        10
4   Australian Cattle Dog Mix   medium                        13
5                Dachshund Mix   small                        14
6                   Boxer Mix    large                         9
7        Miniature Poodle Mix    small                        14
8            Border Collie Mix  medium                        12
9               Catahoula Mix    large                        12
10            Rat Terrier Mix    small                        16
11     Australian Shepherd Mix  medium                        13
12       Yorkshire Terrier Mix   small                        14
13          Siberian Husky Mix  medium                        13
14    Jack Russell Terrier Mix   small                        15